<a href="https://colab.research.google.com/github/Pramodgopinathan/DATA_MINING-data_reduction/blob/main/Data_Cube_Aggregation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [21]:
planets.shape

(1035, 6)

In [22]:
planets = planets.groupby('year')['orbital_period'].sum()
planets

year
1989        83.888000
1992        91.803900
1994        98.211400
1995         4.230785
1996      2015.769933
1997        39.845000
1998       571.553306
1999      8284.213789
2000      8655.125170
2001      8823.652700
2002     31098.693942
2003     54550.912880
2004     11836.848236
2005     28195.315999
2006    749338.718705
2007     18915.474897
2008    648234.382394
2009    129256.581285
2010     64276.094943
2011    130082.081196
2012     62840.010462
2013     14256.811931
2014     15344.034471
Name: orbital_period, dtype: float64

In [23]:
planets.shape

(23,)